{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>Sobre o Aluno</h2>
    <p>Informações detalhadas sobre o aluno matriculado e o desenvolvedor deste projeto.</p>
    <hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0;">

    <ul>
        <li style="margin-bottom: 10px;"><strong>Nome:</strong> João Ryan dos Santos</li>
        <li style="margin-bottom: 10px;"><strong>Instituição:</strong> Inatel (Instituto Nacional de Telecomunicações)
        </li>
        <li style="margin-bottom: 10px;"><strong>Matrícula:</strong> <em>239</em></li>
        <li style="margin-bottom: 10px;"><strong>Curso:</strong> Engenharia de Software</li>
    </ul>
</div>
{% endblock %}