{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>Visão Geral da Educação</h2>
    <p>Futuros líderes estão aqui. Este sistema foi desenvolvido para facilitar o acesso rápido e eficiente às
        informações estudantis, comunicados importantes e contato direto com a administração.</p>
    <br>
    <p>Explore as opções do menu superior para visualizar os dados de matrícula do aluno ou entrar em contato com os
        nossos laboratórios de pesquisa.</p>
    <a href="/about" class="btn">Ver Perfil do Aluno</a>
</div>
{% endblock %}